/* dark mode color theme */
:root, html[data-theme='dark'] {
    --darkblue: #0b2545;
    --lightblue: #8da9c4;
    --navyblue: #13315c;
    --hoverblue: #134074;
    --white: #eef4ed;
    --black: #000;
}

/* light mode color theme */
html[data-theme='light'] {
    --darkblue: #eef4ed;
    --lightblue: #13315c;
    --navyblue: #8da9c4;
    --hoverblue: #8da9c4;
    --white: #0b2545;
    --black: #000;
}

/* document styling */
body {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    background-color: var(--darkblue);
    color: var(--white);
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:0.75s;
}

img {
    -webkit-user-drag: none;
    transition:0.5s;
}

#brand {
    font-size:18px;
    color: var(--white) !important;
    font-weight:bold;
}

#brand:hover {
    padding-left:0px;
    padding-right:0px;
}

a {
    color: var(--lightblue) !important;
    text-decoration:none !important;
    transition:0.25s !important;
}

a:hover {
    color: var(--white) !important;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.main-link, .collapse-link {
    font-size:18px;
}

.main-link.active, .collapse-link.active {
    color: var(--white) !important;
    text-decoration: solid underline var(--white) !important;
    text-underline-offset: 0.45rem;
}

#profile-picture {
    border-radius:50%;
    width:100%;
    border:6px solid var(--white);
    transition:0.5s;
}

h1 {
    font-size:100px;
    transition:0.25s;
}

h2 {
    color: var(--white);
    font-size:32px;
    transition:0.25s;
}

h3 {
    font-size:42px;
    transition:0.25s;
    font-weight:bold;
}

h4 {
    font-size:18px;
    color: var(--lightblue);
    transition:0.25s;
}

h5 {
    font-size:24px;
    transition:0.25s;
}

p {
    font-size:32px;
    transition:0.25s;
}

.card {
    background-color: var(--navyblue);
    padding:7.5px;
    border-radius:10px;
    border-color: var(--navyblue);
}

.sm {
    background-color: var(--navyblue);
    border-radius:10px;
}

.sm:hover {
    transition:0.3s;
    background-color: var(--hoverblue);
}

.sm:hover svg {
    fill: var(--white);
    transform: translateY(-3px);
}

svg {
    transition:0.3s;
    fill: var(--lightblue);
    width:64px;
    transform: translateY(0);
}

.copyright {
    font-size:14px;
    font-weight:bold;
}

.accordion-item {
    border-top:none;
    border-left:none;
    border-right:none;
    background-color: var(--navyblue);
    border-color: var(--navyblue);
    transition:0.5s;
}

.accordion-button {
    background-color: var(--navyblue) !important;
    color: var(--white) !important;
    fill: var(--white);
    transition:0.5s;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    margin-right:25px;
}

h5 {
    color: var(--white);
}

.tabs {
    color: var(--lightblue);
    border-radius:30px !important;
    height:100%;
    width:110%;
    transition:0.25s;
    font-weight:bold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--navyblue);
}

.tabs:hover {
    color: var(--white);
}

.box {
    width:100%;
    margin-left:50%;
    transform:translateX(-50%);
    overflow-x:scroll;
    overflow-y:hidden;
    flex-wrap:nowrap;
}

.box::-webkit-scrollbar {
    display: none;
}

.logos {
    width:60%;
    margin-left:50%;
    transform: translateX(-50%);   
}

.logos2 {
    height:90px;
    margin-left:50%;
    transform: translateX(-50%); 
}

.badge {
    background-color: var(--lightblue)!important;
    color: var(--darkblue)!important;
}

@media only screen and (max-width: 1400px) {
    h1 {
        font-size:84px;
    }

    h5 {
        font-size:22px;
    }

    p {
        font-size:26px;
    }
}

@media only screen and (max-width: 992px) {
    #profile-picture {
        width:50%;
        margin-left:50%;
        transform: translateX(-50%);
    }

    .logos {
        width:80%; 
    }

    h3 {
        font-size:28px;
    }

    h4 {
        font-size:13px;
    }

    .socials {
        width:25%;
    }
    
    .soc {
        width:54px;
    }

    svg {
        width:42px;
    }

    h5 {
        font-size:16px;
    }

    h2 {
        font-size:24px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size:70px;
    }

    h5 {
        font-size:20px;
    }

    p {
        font-size:22px;
    }

    h2 {
        font-size:18px;
    }

    .logos {
        width:35%;
    }

    .socials {
        width:50%;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size:48px;
        margin-top:25px;
    }

    h5 {
        font-size:14px;
    }

    h3 {
        font-size:22px;
    }

    p {
        font-size:18px;
    }

    .socials {
        width:50%;
    }

    .copyright {
        font-size:10px;
    }
}

.nav-pills .nav-link:focus {
    outline: none;
}
