/* dark mode color theme */
:root, html[data-theme='dark'] {
    --darkblue: #0b2545;
    --lightblue: #8da9c4;
    --navyblue: #13315c;
    --hoverblue: #134074;
    --white: #eef4ed;
    --black: #000;
}

/* light mode color theme */
html[data-theme='light'] {
    --darkblue: #eef4ed;
    --lightblue: #13315c;
    --navyblue: #8da9c4;
    --hoverblue: #8da9c4;
    --white: #0b2545;
    --black: #000;
}

/* document styling */

body {
    background-color: var(--darkblue);
    color: var(--white);
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:0.5s;
}

img {
    -webkit-user-drag: none;
    transition:0.5s;
}

#brand {
    font-size:18px;
    color: var(--white) !important;
    font-weight:bold;
    transition:0.5s;
}

#brand:hover {
    padding:0;
}

a {
    color: var(--lightblue) !important;
    text-decoration:none !important;
    transition:0.25s !important;
}

a:hover {
    color: var(--white) !important;
    padding-left:2.5px;
    padding-right:2.5px;
}

.expand {
    font-size:18px;
    margin-right:15px;
}

.expand:hover {
    margin-right:20px;
}

#profile-picture {
    border-radius:50%;
    width:100%;
    border:6px solid var(--white);
    transition:0.5s;
}

h1 {
    font-size:128px;
    transition:0.25s;
}

h5 {
    font-size:24px;
    transition:0.25s;
}

p {
    font-size:32px;
    transition:0.25s;
}

.card {
    background-color: var(--navyblue);
    padding:10px;
    border-radius:10px;
    border-color: var(--navyblue);
}

.sm {
    background-color: var(--navyblue);
    border-radius:10px;
}

.sm:hover {
    transition:0.25s;
    background-color: var(--hoverblue);
}

.sm:hover svg {
    fill: var(--white);
    top:-5px;
}

svg {
    transition:0.25s;
    fill: var(--lightblue);
    position:relative;
    top:0px;
    width:64px;
}

.copyright {
    font-size:14px;
    font-weight:bold;
}

@media only screen and (max-width: 1400px) {
    h1 {
        font-size:100px;
    }

    h5 {
        font-size:22px;
    }

    p {
        font-size:26px;
    }
}

@media only screen and (max-width: 992px) {
    #profile-picture {
        width:50%;
        margin-left:50%;
        transform: translateX(-50%);
    }

    .socials {
        width:25%;
    }

    svg {
        width:50px;
    }

    h5 {
        font-size:16px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size:80px;
    }

    h5 {
        font-size:20px;
    }

    p {
        font-size:22px;
    }

    .socials {
        width:50%;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size:60px;
        margin-top:25px;
    }

    h5 {
        font-size:14px;
    }

    p {
        font-size:18px;
    }

    .socials {
        width:50%;
    }

    .copyright {
        font-size:10px;
    }
}
