body {
    background: #422e51 !important;
    color: white;
    font-family: 'Inter';
    overflow-x: hidden;
}

body.modal-open {
    padding-right: 0 !important;
}

.member {
    text-align: center;
}

.member img {
    border: 2px solid white;
    padding: 2px;
}

/* Name */
.member p:first-of-type {
    font-family: 'Inter';
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0.4rem 0 0.1rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

/* Position */
.member p:last-of-type {
    font-family: 'Inter';
    font-size: 0.55rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

/* Centerpiece */
.centerpiece {
    text-align: center;
}

.centerpiece img {
    width: 100%;
}

.title {
    font-family: 'UnifrakturMaguntia';
    text-align: center;
    color: white;
}



/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background: rgba(0,0,0,0.7) !important;
    font-family: 'Inter' !important;
}

.modal-content {
    background-color: white !important;
}

.modal-content img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 3px;
}

.close {
    position: absolute;
    top: 15px; right: 20px;
    font-size: 24px;
    cursor: pointer;
}